<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    <div class="container mt-5" style="margin: auto;">
        <img src="https://miro.medium.com/v2/resize:fit:783/1*Kj8Eq401fP2ecTY8r9B89Q.png" class="card-img-top" height="350">
        <div class="row">
            <div class="col-md-6 py-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">¿Cómo instalar Angular?</h5>
                        <p class="card-text">Para instalar Angular, asegúrate de tener Node.js y npm instalados. Luego, ejecuta
                            'npm install -g @angular/cli'.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">¿Cómo crear componentes en Angular?</h5>
                        <p class="card-text">Los componentes en Angular son fundamentales. Puedes crear uno con 
                            'ng generate component nombre-del-componente'.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-md-6 py-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Comandos básicos en Angular</h5>
                        <p class="card-text">Algunos comandos útiles incluyen 'ng serve', 'ng build', 'ng test', y 
                            'ng e2e' para tareas comunes.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 py-2">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">¿Qué es Angular?</h5>
                        <p class="card-text">Angular es un framework de desarrollo web de código abierto de Google que 
                            se basa en componentes y módulos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-6 py-4">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">¿Cómo utilizar el enrutamiento en Angular?</h5>
                        <p class="card-text">El enrutamiento en Angular se configura en 'app-routing.module.ts' y se utiliza para crear aplicaciones multipágina.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>

