<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="inicio.component.css">
</head>

<body>
    <div class="container d-flex justify-content-center align-items-center" style="height: 100vh;margin-top: 5%;">
        <div class="row">
            <div class="col-md-6 px-5 py-4">
                <div class="container-sm mb-4 text-center">
                    <h4>Esther Mirabal</h4>
                    <p>Carrera: Desarrollo de Software</p>
                    <p>Año de Cursado: 3°</p>
                    <p>Materia: Arquitectura y Diseño de Interfaces</p>
                    <p><a href="https://github.com/esthermirabal">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/esthercorrales/">LinkedIn</a></p>
                </div>
            </div>
            <div class="col-md-6 px-5 py-4">
                <div class="container-sm mb-4 text-center">
                    <h4>Andre Torres</h4>
                    <p>Carrera:  Desarrollo de Software</p>
                    <p>Año de Cursado: 3°</p>
                    <p>Materia: Arquitectura y Diseño de Interfaces</p>
                    <p><a href="https://github.com/andreJesusTorres">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/andr%C3%A9-torres-419931235/">LinkedIn</a></p>
                </div>
            </div>
            <div class="col-md-6 px-5">
                <div class="container-sm mb-4 text-center">
                    <h4>Edith Nuñez</h4>
                    <p>Carrera:  Desarrollo de Software</p>
                    <p>Año de Cursado: 3°</p>
                    <p>Materia: Arquitectura y Diseño de Interfaces</p>
                    <p><a href="https://github.com/esthermirabal">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/esthercorrales/">LinkedIn</a></p>
                </div>
            </div>
            <div class="col-md-6 px-5">
                <div class="container-sm mb-4 text-center">
                    <h4>Ana Fiorita</h4>
                    <p>Carrera:  Desarrollo de Software</p>
                    <p>Año de Cursado: 3°</p>
                    <p>Materia: Arquitectura y Diseño de Interfaces</p>
                    <p><a href="https://github.com/">GitHub</a></p>
                    <p><a href="hhttps://www.linkedin.com/in/esthercorrales/">LinkedIn</a></p>
                </div>
            </div>
            <div class="col-md-6 px-5 py-4">
                <div class="container-sm mb-4 text-center">
                    <h4>Victor Astorga</h4>
                    <p>Carrera:  Desarrollo de Software</p>
                    <p>Año de Cursado: 3°</p>
                    <p>Materia: Arquitectura y Diseño de Interfaces</p>
                    <p><a href="https://github.com/VictorJAO">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/v%C3%ADctor-jes%C3%BAs-astorga-oro-b0578b1b5/">LinkedIn</a></p>
                </div>
            </div>
            <div class="col-md-6 px-5 py-4">
                <div class="container-sm mb-4 text-center">
                    <h4>Facundo Di Marco</h4>
                    <p>Carrera:  Desarrollo de Software</p>
                    <p>Año de Cursado: 3°</p>
                    <p>Materia: Arquitectura y Diseño de Interfaces</p>
                    <p><a href="https://github.com/">GitHub</a></p>
                    <p><a href="https://www.linkedin.com/in/juanfacundodimarco/">LinkedIn</a></p>
                </div>
            </div>
        </div>
    </div>
</body>

</html>